.venv
__pycache__

dlrep/ImageCaptioning/data/metadata/
dlrep/ImageCaptioning/data/train_images/
dlrep/ImageCaptioning/data/valid_images/

dlrep/ImageCaptioning/checkpoints/
dlrep/ImageCaptioning/logs/